@import '../Common.scss';

.order_page {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.form {
    padding: $m3;
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: $m3;
    row-gap: $m3;

    label {
        font-weight: bold;
    }

    input {
        margin-bottom: 0px;
    }
}

.search_button {
    @extend .primary-button;
    white-space: nowrap;
    margin-right: auto;
    margin-left: $m3;
}