@import '../Common.scss';

main .product-detail-page {
    display: flex;
    flex-direction: column;
    h4 {
        margin-top: $m2;
    }
    .title {
        color: $primary-color;
    }
    article {
        width: 100%;
        padding-left: $m4;
        padding-right: $m4;
        max-width: 500px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
}

input {
    @extend h5;
}

.add-image {
    display: flex;
    flex-wrap: wrap;
    margin-top: $m3;
    .add-image-button {
        background-color: $primary-color-2;
        color: $on-primary-color;
        height: 100px;
        width: 100px;
        > * {
            margin: auto;
        }        
    }
}