@import '../Common.scss';

.fee-summaries {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: $m3;
    margin: $m3;

    @media screen and (max-width: 650px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 500px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 350px) {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        padding: $p3;
        cursor: pointer;
    }
}

.scrolling-page-container {
    margin: $m3;
    max-width: 500px;
    text-align: center;
}