@import '../Common.scss';

.add-origin-section {
    margin: $m3;
    display: flex;
    flex-direction: column;
    label {
        margin-bottom: $m3;
    }
    .add-origin-input {
        flex-grow: 1;
    }

    header {
        margin-top: $m3;
        margin-bottom: $m3;
    }

    select {
        width: 100%;
    }

    .multiple-select {
        border: 1px solid $border-color;
        border-radius: 10px;
        .element {
            padding: $p3;
        }
    }

    .create-origin-button {
        margin-left: $m3;
    }
}