@import './IconButton.scss';

.floating-action-button {
    @extend .icon-button;
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: $primary-color;
    color: $on-primary-color;
    height: 48px;
    width: 48px;
    z-index: 100;
}