.page-transition {
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    position: fixed;
    left : 0px;
    height: 100vh;
    width: 100vw;
    background-color: white;
    box-sizing: border-box;
    overflow: auto;
}

.page-transition-hide {
    top: 100%;
    opacity: 0;
}

.page-transition-show {
    top: 0%;
    opacity: 1;
}